<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="widget1">
                    <div class="logo">
                        <img src="/img/homepage/image-removebg-preview.png" class="img-fluid" alt="">
                    </div>
                    <p>Tổng biên tập: Nguyễn Ngọc Toàn</p>
                    <p>Phó tổng biên tập: Hải Thành</p>
                    
                    <p>  Phó tổng biên tập: Lâm Hiếu Dũng</p>
                        
                    <p>    Phó tổng biên tập - Tổng thư ký tòa soạn: Trần Việt Hưng</p>
                    <div class="socialLinks">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-google-plus-g"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <div class="widget3 widget-footer">
                    <h5>
                        Quick Links
                    </h5>
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                about
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                contact
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                privecy
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                skills
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                career
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <div class="widget3 widget-footer">
                    <h5>
                        Quick Links
                    </h5>
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                about
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                contact
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                privecy
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                skills
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                career
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d251637.95196238213!2d105.6189045!3d9.779349!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1702886440720!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
    <div class="copyRightArea">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <p>&copy; Copyright All rights reserved 2023.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>