<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <title>Không tìm thấy</title>
    <link rel="stylesheet" href="/admin-assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/error.css}"/>
</head>
<body>
    <div class="wrap-error">
        <div class="d-flex align-items-center h-100">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 offset-sm-2 text-center text-white">
                        <h1 class=""><span>4</span><span>0</span><span>4</span></h1>
                        <!--                    <h5 class="">Oops! Page not found</h5>-->
                        <h5 class="">Không tìm thấy</h5>
                        <p class="mb-4">chúng tôi xin lỗi, nhưng trang bạn yêu cầu không được tìm thấy</p>
                        <button class="btn btn-group"  title="Đăng nhập">
                            <a style="color: black" href="/admin/login">Đăng nhập</a>
                        </button>
                        <button class="btn btn-dark"  title="Trang chủ">
                            <a style="color: white" href="/homepage">Trang chủ</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script th:src="@{/admin-assets/admin-lte/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/admin-assets/admin-lte/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>