<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      >
<head>
    <title>Không có quyền truy cập</title>
    <link rel="stylesheet" href="/admin-assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/error.css}"/>
</head>
<body>
<!--<h1> Bạn cần đăng nhập. </h1>-->
<!--<p><a href="/admin/login">Go Home</a></p>-->
<!--<main id="main-content" class="error-div">-->
<!--    <img th:src="@{/img/401.png}" alt="404" class="img-fluid">-->
<!--    <a href="/homepage">-->
<!--        <button class="btn btn-secondary">Quay về trang chủ</button>-->
<!--    </a>-->
<!--</main>-->
<div class="wrap-error">
    <div class="d-flex align-items-center h-100">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 offset-sm-2 text-center text-white">
                    <h1 class=""><span>4</span><span>0</span><span>1</span></h1>
                    <!--                    <h5 class="">Oops! Page not found</h5>-->
                    <h5 class="">Không có quyền truy cập</h5>
                    <p class="mb-4">Chúng tôi xin lỗi, nhưng để truy cập trang bạn cần đăng nhập</p>
                    <button class="btn btn-group"  title="Đăng nhập">
                        <a href="/admin/login">Đăng nhập</a>
                    </button>
                    <button class="btn btn-dark"  title="Trang chủ">
                        <a href="/homepage">Trang chủ</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/admin-assets/admin-lte/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/admin-assets/admin-lte/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>