<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{/layout/layout-admin :: main-fragment(~{:: title}, ~{:: #css}, ~{:: .content-wrapper}, ~{:: #js})}">

<head>
    <title>Tất cả banner</title>
</head>

<body>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/admin/dashboard/blogs/own-blog">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Danh sách banner
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row py-2">
                <div class="col-12">
                    <a href="/dashboard/admin/advertisement/create" type="button" class="btn btn-primary">
                        <i class="fas fa-plus"></i> Tạo banner
                    </a>
<!--                    <a href="/admin/banners/sort" type="button" class="btn btn-warning">-->
<!--                        <i class="fas fa-exchange-alt"></i> Sắp xếp vị trí các banner đang kích hoạt-->
<!--                    </a>-->
                    <a href="/dashboard/admin/advertisement" type="button" class="btn btn-info">
                        <i class="fas fa-redo"></i> Refresh
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên banner</th>
                                    <th>Trạng thái</th>
                                    <th>Redirect to URL</th>
                                    <th>Ngày tạo</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <th:block th:with="advertisementList = ${page.getContent()}">
                                        <tr th:each="advertisement, state : ${advertisementList}">
                                            <td th:text="${(currentPage - 1) * page.getSize() + (state.index + 1)}" class="text-center" >1</td>
                                            <td>
                                                <a th:href="@{/dashboard/admin/advertisement/{id}/detail  (id=${advertisement.id})}" th:text="${advertisement.name}"></a>
                                            </td>
                                            <td class="text-center" th:text="${advertisement.name}" > Backend
                                            </td>
                                            <td th:text="${advertisement.status ? 'Kich hoạt' : 'Vô hiệu hóa'}" class="text-center"></td>
                                            <td th:text="${advertisement.linkRedirect}" class="text-center"></td>
                                            <td th:text="${#temporals.format(advertisement.createdAt, 'dd-MM-yyyy HH:mm:ss')}" class="text-center"></td>
                                        </tr>
                                    </th:block>
                                </tbody>
                            </table>
                            
                            <div class="d-flex justify-content-center mt-3" id="pagination">
                                <ul class="pagination mb-0">
                                    <li class="paginate_button page-item previous" th:classappend="${currentPage == 1 ? 'disabled' : ''}"
                                        id="example2_previous" th:data-page="${currentPage - 1}">
                                        <a class="page-link">Previous</a>
                                    </li>
                                    <th:block th:with="numbers = ${T(com.example.blog.utils.Utils).createList(page.getTotalPages())}">
                                        <li th:each="number : ${numbers}" class="paginate_button page-item" th:classappend="${number == currentPage ? 'active' : ''}" th:data-page="${number}">
                                            <a class="page-link" th:text="${number}"></a>
                                        </li>
                                    </th:block>
                                    <li class="paginate_button page-item next" th:classappend="${currentPage == page.getTotalPages() ? 'disabled' : ''}"
                                        id="example2_next" th:data-page="${currentPage + 1}">
                                        <a class="page-link">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<th:block id="js">
    <script th:inline="javascript">
        const advertisementList = [[${page.getContent()}]];
        console.log({advertisementList})
    </script>
<!--    <script th:src="@{/admin-assets/assets/js/banner/index.js}"></script>-->
</th:block>
</body>

</html>