<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{/layout/layout-admin :: main-fragment(~{:: title}, ~{:: #css}, ~{:: .content-wrapper}, ~{:: #js})}">

<head>
    <title th:text="${blog.title}"></title>

    <th:block id="css">
        <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css"/>
        <link rel="stylesheet" th:href="@{/admin-assets/admin-lte/plugins/summernote/summernote-bs4.min.css}"/>
        <link rel="stylesheet" th:href="@{/admin-assets/admin-lte/plugins/select2/css/select2.min.css}"/>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.6.0/pagination.min.css"
              integrity="sha512-K1k7jSn9RDKEcn/ugqVVvWYu0bcS3q1w6m/5pQSnrj0bCfIqF6Wk49lkmckSb4wglvTP9V17LtS0q0XxYccXbg=="
              crossorigin="anonymous" referrerpolicy="no-referrer"/>

        <link rel="stylesheet" th:href="@{/admin-lte/dist/css/style.css}">

        <style>
            .modal-dialog {
                max-width: 1000px;
            }

            .image-container {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 10px;
            }

            .image-item {
                height: 150px;
                border: 2px solid #eee;
            }

            .image-item.selected {
                border-color: #28a745!important;
                border-width: 4px !important;
            }

            .image-item img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        </style>
    </th:block>
</head>

<body>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a th:href="@{/admin/blogs/own-blogs}">Blog</a>
                        </li>
                        <li class="breadcrumb-item active" th:text="${blog.title}">
                            Thực hành làm ứng dụng Meal Finder API
                            với Javascript (Phần 2)
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row py-2">
                <div class="col-6">
                    <button type="button" class="btn btn-default">
                        <i class="fas fa-chevron-left"></i> Quay lại
                    </button>
                    <button type="button" class="btn btn-info px-4" id="btn-update">
                        Lưu
                    </button>
                </div>

                <div class="col-6 d-flex justify-content-end">
                    <button type="button" class="btn btn-danger px-4" id="btn-delete">
                        Xóa
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Tiêu đề</label>
                                        <input type="text" class="form-control" id="title"/>
<!--                                        <label>Tiêu đề</label>-->
<!--                                        <input th:value="${blog.title}" type="text" class="form-control" id="title"/>-->
                                    </div>

                                    <div class="form-group">
                                        <label>Nội dung</label>
                                        <textarea th:text="${blog.content}" id="content"></textarea>
                                        <!--<label>Nội dung</label>-->
                                        <!--<textarea id="content" th:text="${blog.content}"></textarea>-->
                                    </div>

                                    <div class="form-group">
                                        <label>Mô tả ngắn</label>
                                        <textarea th:text="${blog.description}" id="description" class="form-control" rows="3"></textarea>
<!--                                        <label>Mô tả ngắn</label>-->
<!--                                        <textarea id="description" th:text="${blog.description}" class="form-control" rows="3"></textarea>-->
                                    </div>

                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Trạng thái</label>
                                        <select id="status" class="form-control">
                                            <option value="false">
                                                Nháp
                                            </option>
                                            <option value="true">
                                                Công khai
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="category" class="required-label">Danh mục</label>
                                        <select class="form-control" id="category">
                                            <th:block th:each="category : ${categoryList}">
                                                <option th:value="${category.id}" th:text="${category.name}"  th:selected="${blog.category != null and blog.category.id == category.id}">
                                                    Java
                                                </option>
                                            </th:block>
                                        </select>
                                        <div class="form-group">
                                            <label for="select-tag">Tags</label>
                                            <div class="select2-purple">
                                                <select class="select2 form-control" multiple="multiple" id="select-tag">
                                                    <option th:each="tag:${tagList}" th:value="${tag.id}" th:text="${tag.name}" >Alabama</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="thumbnail-preview-container mb-3">
                                            <img src="https://placehold.co/600x400" alt="" id="thumbnail"/>
<!--                                            <img th:src="${(blog.thumbnail != null) ? blog.thumbnail : 'https://placehold.co/600x400'}" alt="" id="thumbnail"/>-->
                                        </div>
                                        <button type="button" class="btn btn-info btn-flat" data-toggle="modal"
                                                data-target="#modal-xl" id="btn-modal-image">
                                            Chọn hình ảnh
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Modal chọn anh-->
    <div class="modal fade" id="modal-xl" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Danh sách ảnh</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-between">
                        <div>
                            <button class="btn btn-success" id="btn-chose-image" disabled>Chọn ảnh</button>

                            <label for="avatar" class="btn btn-warning mb-0">Upload ảnh</label>
                            <input type="file" id="avatar" class="d-none">
                        </div>
                        <div>
                            <button class="btn btn-danger" id="btn-delete-image" disabled>Xóa ảnh</button>
                        </div>
                    </div>
                    <!-- Hiển thị danh sách ảnh -->
                    <div class="image-container mt-4 mb-4">
                        <div class="image-item">
<!--                            <img src="https://images.unsplash.com/photo-1656918931725-2f9d9fce4acb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw4fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60" alt="">-->
                        
                        </div>
                    </div>

                    <!-- Hiển thị phần phân trang -->
                    <div class="pagination-container d-flex justify-content-center">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block id="js">
<!--    <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
    <script th:src="@{/admin-assets/admin-lte/plugins/summernote/summernote-bs4.min.js}"></script>
    <script th:src="@{/admin-assets/admin-lte/plugins/select2/js/select2.full.min.js}"></script>
    <script th:src="@{/assets/js/blog-detail.js}"></script> <!--Đoạn này là js xử lý image-->
    <script th:inline="javascript">
        const blog = [[${blog}]];
        console.log(blog);
        //Initialize Select2 Elements
        $(".select2").select2();

        $('#content').summernote({
            height: 500,
            toolbar: [
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                ['fontname', ['fontname']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'video']],
                ['view', ['fullscreen', 'codeview', 'help']],
            ],
        })

        $('#content').css({
            'display': 'block',
            'height': '0',
            'padding': '0',
            'border': 'none'
        })

        $('#content').on('summernote.change', function(we, contents, $editable) {
            $("#content").html(contents);
        });
        

        // Initialize data
        const titleEl = document.getElementById("title")
        const descriptionEl = document.getElementById("description")
        const statusEl = document.getElementById("status")
        const categoryEl = $('#category');
        const tagEl = document.getElementById("select-tag");
        const thumbnailEl = document.getElementById("thumbnail");

        $('#select-tag').val(blog.tags.map(tag => tag.id)).trigger("change");
        
        const initData = (data) => {
            titleEl.value = data.title;
            // easyMDE.value(data.content);
            descriptionEl.value = data.description;
            statusEl.value = data.status ? "true" : "false";
            // categoryEl.val(data.categories.map(c => `${c.id}`)).trigger("change");
            // categoryEl.value = data.category.id;

            thumbnailEl.src = data.thumbnail ? data.thumbnail : "https://placehold.co/600x400";
            console.log(thumbnailEl.src);
        };

        initData(blog);

        const getTagsChose = () => {
            let tagArr = [];
            let tagOptionEl = tagEl.querySelectorAll("#select-tag option");
            tagOptionEl.forEach(el => {
                if (el.selected) {
                    tagArr.push(parseInt(el.value))
                }
            })
            return tagArr;
        }


        // Cập nhật blog
        const btnUpdate = document.getElementById("btn-update")
        btnUpdate.addEventListener("click", async (e) => {
            try {
                let isValid = true;

                // Lấy dữ liệu
                const title = titleEl.value;
                const content = $('#content').summernote('code')
                const description = descriptionEl.value;
                const status = statusEl.value;
                const categoryId = parseInt(categoryEl.val());
                const thumbnailURL = thumbnailEl.src == "https://placehold.co/600x400" ? null : thumbnailEl.src;
                const tagsId = getTagsChose();

                // console.log(` - content: ${content} \n - thumbnailURL: ${thumbnailURL}`)
                
                let thumbnail = null;
                if (thumbnailURL != null  && !thumbnailURL.startsWith("https://") &&
                    !thumbnailURL.startsWith("https://placehold.co/600x400")) {
                    // Tạo một đối tượng URL từ URL ban đầu
                    const url = new URL(thumbnailURL);
                    // Lấy phần path sau phần gốc (pathName)
                    thumbnail = url.pathname;
                    console.log(`- Đây là path: ${thumbnail}`)
                } else {
                    thumbnail = thumbnailURL;
                }

                // Validate dữ liệu
                if (title.length === 0) {
                    toastr.warning("Title không được để trống !");
                    isValid = false;
                }

                //console.log("src ảnh - " ,thumbnailEl.src);
                if (isValid) {
                    const request = {
                        title,
                        content,
                        description,
                        status: status === "true" ? true : false,
                        // categoryIds: categoryIds.map(id => parseInt(id)),
                        categoryId,
                        thumbnail,
                        tagsId
                    };
                    console.log(`===== ${request}`);

                    let res = await axios.put("/api/v1/admin/blogs/" + blog.id, request);
                    if (res.status === 200) {
                        toastr.success("Cập nhật bài viết thành công");
                    } else {
                        toastr.error("Cập nhật bài viết thất bại");
                    }
                    setTimeout(() => {
                        e.preventDefault()
                        location.reload();
                    }, 1500);
                }
            } catch (e) {
                toastr.warning(e.response.data.message);
                console.log(err);
            }
        })
        
        const btnDelete = document.getElementById("btn-delete");
        btnDelete.addEventListener("click", async () => {
            const isConfirm = window.confirm("Bạn có muốn xóa bài viết này không?")
            if (isConfirm) {
                try {
                    let res = await axios.delete(`/api/v1/admin/blogs/${blog.id}`)

                    if(res.status === 200 || res.status === 204) {
                        toastr.success("Xóa thành công");
                        setTimeout(() => {
                            window.location.href="/dashboard/blogs/own-blogs"
                        },1000)
                    }
                } catch (e) {
                    toastr.error(e.response.data.message);
                    console.log(e);
                }
            }
        })
    </script>
</th:block>

</body>

</html>