<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{/layout/layout-admin :: main-fragment(~{:: title}, ~{}, ~{:: .content-wrapper}, ~{:: #javascript})}">

<head>
    <title>Danh sách bài chờ phê duyệt</title>
</head>

<body>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Danh sách bài chờ phê duyệt
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row py-2">
                <div class="col-12">
                    <button type="button" class="btn btn-primary">
                        <i class="fas fa-plus"></i> Viết bài
                    </button>
                    <button type="button" class="btn btn-info">
                        <i class="fas fa-redo"></i> Refresh
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">STT</th>
                                        <th class="text-center">Tiêu đề</th>
                                        <th class="text-center">Danh mục</th>
                                        <th class="text-center">Trạng thái phê duyệt</th>
                                        <th class="text-center">Hành động phê duyệt</th>
                                        <th class="text-center">Trạng thái</th>
                                        <th class="text-center">Ngày tạo</th>
                                    </tr>
                                </thead>
                                <tbody>
<!--                                <th:block th:with="blogList = ${page.getContent()}">-->
<!--                                    <tr th:each="blog : ${blogList}">-->
<!--                                        <td>-->
<!--                                            <a th:href="@{/admin/blogs/{id}/detail  (id=${blog.id})}" th:text="${blog.title}">Khai giảng khóa</a>-->
<!--                                        </td>-->
<!--                                        <td>-->
<!--                                            <a href="#" th:text="${blog.user.name}">John Doe</a>-->
<!--                                        </td>-->
<!--                                        <td>-->
<!--                                            <span th:each="category : ${blog.categories}" class="badge bg-info mr-1" th:text="${category.name}"></span>-->
<!--                                        </td>-->
<!--                                        <td th:text="${blog.status ? 'Công khai' : 'Nháp'}">Công khai</td>-->
<!--                                        <td th:text="${#temporals.format(blog.createdAt, 'dd/MM/yyyy')}">06-07-2022</td>-->
<!--                                    </tr>-->
<!--                                </th:block>-->
                                <th:block th:with="blogList = ${page.getContent()}">
                                    <tr th:each="blog, iStat : ${blogList}">
                                        <td class="text-center" th:text="${page.size*(page.number)+(iStat.index+1)}"></td>
                                        <td>
                                            <a th:href="@{/dashboard/blogs/{id}/detail (id=${blog.id})}" th:text="${blog.title}">Blog's title</a>
                                        </td>
                                        <td class="text-center">
<!--                                            <span class="badge bg-info mr-1" th:text="${blog.category }  ? ${blog.category.name}:null "></span>-->
                                            <span class="badge bg-info mr-1" th:text="${blog.category.name}"></span>
                                        </td>
                                        <td class="text-center">
                                            <span class="badge bg-primary mr-1" th:text="${blog.approvalStatus}"></span>
                                        </td>
                                        <td class="text-center" >
                                            <button id="btn-approve" class="btn btn-approve btn-success btn-circle" th:onclick="|approveBlog(${blog.id})|">
                                                <i class="fas fa-check"></i>
                                            </button>
                                            <button id="btn-not-approve" class="btn btn-warning btn-circle" th:onclick="|openModalNotApproveBlog(${blog.id})|">
                                                <i class="fas fa-exclamation-triangle"></i>
                                            </button>
                                        </td>
                                        <td th:text="${blog.status ? 'Công khai' : 'Nháp'}" class="text-center">Công khai</td>
                                        <td th:text="${#temporals.format(blog.createdAt, 'dd/MM/yyyy')}" class="text-center">06-07-2022</td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>

                            <!-- Modal note reason to not approve blog -->
                            <div class="modal fade" id="modalNotApproveBlog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title fs-5">Nội dung cần lưu ý</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <label for="input-update">Nội dung</label>
                                            <textarea type="text" class="form-control" id="input-update" placeholder="Enter name">
                                            </textarea>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                            <button type="button" class="btn btn-primary" id="btn-not-approve-blog">Xác nhận</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-center mt-3" id="pagination">
                                <ul class="pagination mb-0">
                                    <li class="paginate_button page-item previous" th:classappend="${currentPage == 1 ? 'disabled' : ''}"
                                        id="example2_previous">
                                        <a th:href="@{/dashboard/admin/blogs/pending?page={pageNumber} (pageNumber=${currentPage-1})}" aria-controls="example2" data-dt-idx="0" tabindex="0"
                                           class="page-link">Previous</a>
                                    </li>
                                    <th:block th:with="numbers = ${T(com.example.blog.utils.Utils).createList(page.getTotalPages())}">
                                        <li th:each="number : ${numbers}" class="paginate_button page-item" th:classappend="${number == currentPage ? 'active' : ''}">
                                            <a th:href="@{/dashboard/admin/blogs/pending?page={pageNumber} (pageNumber=${number})}" aria-controls="example2" data-dt-idx="1" tabindex="0"
                                               class="page-link" th:text="${number}">1</a>
                                        </li>
                                    </th:block>
                                    <li class="paginate_button page-item next" th:classappend="${currentPage == page.getTotalPages() ? 'disabled' : ''}"
                                        id="example2_next">
                                        <a th:href="@{/dashboard/admin/blogs/pending?page={pageNumber} (pageNumber=${currentPage+1})}" aria-controls="example2" data-dt-idx="7" tabindex="0"
                                           class="page-link">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
<th:block id="javascript">
<!--    <script type="module" src="https://md-block.verou.me/md-block.js"></script>-->
<!--    <script th:src="@{/assets/lib/prism.js}"></script>-->
    <script th:inline="javascript">

        console.log(1)
        console.log("================");
        const blogs = [[${page.getContent()}]];
        console.log(blogs);
        // console.log(typeof blogs[0].approvalStatus)
        // console.log(blogs[0].approvalStatus == 'APPROVE')

        // Approve blog
        const btnApproveBlog = document.querySelectorAll(".btn-approve");
        let idBlogApprove = null;
        const approveBlog = (id) => {
            const blog = blogs.find(b => b.id === id);
            idBlogApprove = blog.id;
        }

        btnApproveBlog.forEach(button => {
            button.addEventListener("click", async () => {
                try {
                    console.log(idBlogApprove);
                    if (confirm("Bạn có muốn phê duyệt bài viết này?")) {
                        let res = await axios.post(`/api/v1/admin/approve/${idBlogApprove}`);
                        if(res.status === 200) {
                            toastr.success("Bài viết đã được phê duyệt.")
                            setTimeout(() => {
                                location.reload();
                            }, 750);

                        }
                    }
                } catch (e) {
                    toastr.error(e.response.data.message);
                    console.log(e);
                }
            });
        });


        // Not approve blog
        let idNotApproveBlog = null;
        const inputNoteEL = document.getElementById("input-update");
        const btnNotApproveBlog = document.getElementById("btn-not-approve-blog");
        const openModalNotApproveBlog = (id) => {
            const blog = blogs.find(b => b.id === id);
            inputNoteEL.value = blog.note === " " ? null : blog.note;
            idNotApproveBlog = blog.id;
            console.log(`========= \n ${idNotApproveBlog}`)
            $("#modalNotApproveBlog").modal("show")
        }

        btnNotApproveBlog.addEventListener("click", async () => {
            try {
                const note = inputNoteEL.value;
                if (!note || note === "") {
                    toastr.error("Nội dung cần lưu ý không được để chống")
                    return
                }

                let res = await axios.post(`/api/v1/admin/not-approve/${idNotApproveBlog}`, { note })

                if(res.status === 200) {
                    toastr.success("Kiểm duyệt bài viết thành công.")
                    $("#modalUpdateCategory").modal("hide")
                    idNotApproveBlog = null;
                    setTimeout(() => {
                        location.reload();
                    }, 750);
                }
            } catch (e) {
                toastr.error(e.response.data.message);
                console.log(e);
            }
        })
    </script>
</th:block>

</html>