<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{layout/layout-public :: main-fragment(~{:: title}, ~{:: #css}, ~{:: main}, ~{:: #js})}">
<head>
    <meta charset="UTF-8">
    <title th:text="${blog.title}">VnNews</title>
    <th:block id="css">
        <link rel="stylesheet" th:href="@{/css/blog-detail2.css}">
    </th:block>
</head>
<body>
<main class="main">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="huy">
<!--                    <p>Trang chủ</p>-->
<!--                    <p th:text="${blog.category.name}">huy01</p>-->
<!--                    <p th:text="${blog.title}">title</p>-->
                    <span>Trang chủ</span>
                    <span th:text="${blog.category.name}">huy01</span>
                    <span th:text="${blog.title}">title</span>
<!--                    <span>huydsf dsf dsfdsfsdfsdf dsf sdf</span>-->
<!--                    <span>huy01</span>-->
<!--                    <span>title</span>-->
                </div>
                
<!--                <th:block sec:authorize="isAnonymous()">-->
<!--                    <button class="btn btn-light" onclick="requireLogin()"><i class="fa-regular fa-heart"></i></button>-->
<!--                </th:block>-->
<!--                <th:block sec:authorize="isAuthenticated()">-->
<!--&lt;!&ndash;                    <p th:if="${isExistInSavedList}">Đã nằm trong saved list</p>&ndash;&gt;-->
<!--                    <button th:if="${isExistInSavedList}" id="saved-blog-icon"  class="btn btn-light">-->
<!--                        <i style="color: #4b4b41" class="fa-solid fa-bookmark"></i>-->
<!--                    </button>-->
<!--                    -->
<!--&lt;!&ndash;                    <p th:if="${!isExistInSavedList}">Không nằm trong saved list</p>&ndash;&gt;-->
<!--                    <button th:if="${!isExistInSavedList}" class="btn btn-light">-->
<!--                        <i style="color: #4b4b41" class="fa-solid fa-bookmark"></i>-->
<!--                    </button>-->
<!--                </th:block>-->
            </div>
            <div class="col-12 mt-1 mb-3 text-white">
                <div class="position-relative">
                    <div class="ratio_1140-535 image-wrapper">
                        <img th:src="${blog.thumbnail}" class="igm-fluid lazy entered loaded"
                             src="https://demo.bootstrap.news/bootnews/assets/img/1140x535/img5.jpg" alt="">
                    </div>
                    <div class="position-absolute p-3 b-0 w-100 bg-shadow">
                        <a href="#" class="badge bg-primary text-white rounded-0" th:text="${blog.category.name}">Holiday</a>
                        <h1 th:text="${blog.title}" class="h1 display-md-4 display-3-lg fw-bold mt-2 text-white">5 Simple Tips to Help
                            Vegetarian or Vegan
                            Travelers Eat Well, Anywhere</h1>
                        <div class="post-atribute mb-3">
                            <div class="my-3 text-light small">
                                <span class="d-none d-sm-inline">
                                    by <a class="fw-bold text-light" href="#l" th:text="${blog.author}">John Doe</a>
                                </span>
                                <time class="ms-0 ms-sm-2 ms-md-3" datetime="2019-10-22">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                                         fill="currentColor" class="bi bi-calendar-check me-1" viewBox="0 0 16 16">
                                        <path
                                                d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z">
                                        </path>
                                        <path
                                                d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z">
                                        </path>
                                    </svg> Oct 22, 2019
                                </time>
                                <span class="ms-2 ms-md-3"  >
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                         fill="currentColor" class="bi bi-eye me-1" viewBox="0 0 16 16">
                                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z">
                                        </path>
                                        <path
                                                d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z">
                                        </path>
                                    </svg>
                                    <span th:text="${blog.views} + ' views'">1.230x view</span>
                                </span>
                                <span class="like-mark">
                                    <i class="bx bxs-bookmark-alt-plus"></i>
                                </span>
<!--                                <span class="ms-2 ms-md-3">-->
<!--                                    <th:block sec:authorize="isAnonymous()">-->
<!--                                        <button class="btn btn-light" onclick="requireLogin()">Lưu bài viết <i class="fa-regular fa-heart"></i></button>-->
<!--                                    </th:block>-->
<!--                                    <th:block sec:authorize="isAuthenticated()">-->
<!--                                        &lt;!&ndash;                    <p th:if="${isExistInSavedList}">Đã nằm trong saved list</p>&ndash;&gt;-->
<!--                                        <button th:if="${isExistInSavedList}" id="saved-blog-icon" class="btn btn-light">-->
<!--                                            <i style="color: #178824" class="fa-solid fa-bookmark"></i>-->
<!--                                            <span>Đã lưu bài viết</span>-->
<!--                                        </button>-->
<!--                                        -->
<!--                                        &lt;!&ndash;                    <p th:if="${!isExistInSavedList}">Không nằm trong saved list</p>&ndash;&gt;-->
<!--                                        <button th:if="${!isExistInSavedList}" class="btn btn-light">-->
<!--                                            Lưu bài viết   <i style="color: #4b4b41" class="fa-solid fa-bookmark"></i>-->
<!--                                        </button>-->
<!--                                    </th:block>-->
<!--                                </span>-->
                            </div>
                        </div>
                    </div>
                </div>
                <button sec:authorize="isAnonymous()" onclick="requireLogin()" class="btn btn-primary mt-2"> <i class='bx bxs-bookmark-alt-plus'></i>Lưu bài viết</button>
                <button sec:authorize="isAuthenticated()" class="btn btn-success mt-2" th:if="${isExistInSavedList}" onclick="openModalConfirmDeleteSaveBlog()">
                    <i class='bx bxs-bookmark-alt'></i> Đã lưu bài viết
                </button>
                <button sec:authorize="isAuthenticated()" class="btn btn-primary mt-2" th:if="${!isExistInSavedList}" onclick="saveBlog()">
                    <i class='bx bxs-bookmark-alt-plus'></i> Lưu bài viết
                </button>
            </div>
            <div class="col-md-8">
                <span th:utext="${blog.content}">
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                </span>
                <div class="entry-footer">
                    <div class="tags-area">
                        <ul class="tags-links tagcloud ps-0 fw-bold me-2" >Tags
                            <th:block th:each="tag:${blog.tags}">
                                <li><a href="#" th:text="${tag.name}">travel</a></li>
                            </th:block>
                        </ul>
                    </div>
                </div>
                <div class="related-post mb-4">
                    <div class="block-title-6">
                        <h4 class="h5 border-primary border-2">
                            <span class="bg-primary text-white">Related articles</span>
                        </h4>
                    </div>

                    <div class="image-slide-main">
                        <div class="image-slide"><img
                                src="	https://demo.bootstrap.news/bootnews/assets/img/337x337/img1.jpg" alt="">
                        </div>
                        <div class="image-slide"><img
                                src="	https://demo.bootstrap.news/bootnews/assets/img/337x337/img1.jpg" alt="">
                        </div>
                        <div class="image-slide"><img
                                src="	https://demo.bootstrap.news/bootnews/assets/img/337x337/img1.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="comments">
                    <div class="block-title-6">
                        <h4 class="h5 border-primary border-2">
                            <span class="bg-primary text-white" th:text="${blog.comments.size() + ' comments'}">5 Comments</span>
                        </h4>
                    </div>
                    <ol class="comment-list" th:if="${blog.comments.size()} > 0">
                        <th:block th:if="${blog.comments.size()} > 0" th:each = "comment:${blog.comments}">
                            <li>
                                <div class="user-comment u-hover">
                                    <footer>
                                        <img class="avatar-md border img-fluid float-start me-3" th:src="${comment.author.getAvatar()}"
                                             src="https://demo.bootstrap.news/bootnews/assets/img/avatar/avatar1.png"
                                             
                                             alt="avatar">
                                        <div class="title-comments">
                                            <a class="authors" href="#" target="_blank" th:text="${comment.author.name}">Jennifer Tan</a>
                                            <span class="text-muted dates small">
												<time th:text="${#temporals.format(comment.updatedAt, 'dd/MM/yyyy')}">Oct 27, 2019 at 12:11 am</time>
											</span>
                                            <div class="comment-content">
                                                <p th:text="${comment.content}">News magazine bootstrap themes!</p>
                                            </div>
                                            <div style="display: flex; justify-content: end">
                                                <div class="btn-reply">
                                                    <a class="comment-reply" href="#" th:onclick="|openModalUpdate(${comment.id})|">Sửa</a>
                                                </div>
                                                <div class="btn-delete">
                                                    <a class="comment-reply" href="#">Xóa</a>
                                                </div>
                                            </div>
<!--                                            <div class="btn-reply">-->
<!--                                                <a class="comment-reply" href="#">Sửa</a>-->
<!--                                            </div>-->
<!--                                            <div class="btn-delete">-->
<!--                                                <a class="comment-reply" href="#">Xóa</a>-->
<!--                                            </div>-->
                                        </div>
                                    </footer>
                                </div>
                            </li>
                        </th:block>
                    </ol>
                    <div class="comment-form">
                        <h3>Bình luận</h3>
                        <p><a href="#">Đăng nhập email để bình luận về bài viết</a></p>
                        <textarea id="comment-content"
                                aria-label="dạng bình luận"
                                class="form-control"
                                placeholder="Bình luận"
                                rows="4"
                                required=""
                        ></textarea>
                        <button type="button" class="btn btn-primary" id="btn-comment">
                            Đăng bình luận
                        </button>
<!--                        <button sec:authorize="!isAuthenticated()" type="button" class="btn btn-primary disabled">-->
<!--                            Đăng bình luận-->
<!--                        </button>-->
                    </div>
                </div>
            </div>
            <aside class="col-md-4 end-sidebar-lg">
                <div class="stickytop">
                    <aside class="widget">
                        <div class="block-title-4">
                            <h4 class="h5 title-arrow">
                                <span>Social network</span>
                            </h4>
                        </div>
                        <div class="img-block">
                            <img src="https://demo.bootstrap.news/bootnews/assets/img/337x337/img7.jpg" alt="">
                        </div>
                    </aside>
                    <aside class="widget">
                        <div class="block-title-4">
                            <h4 class="h5 title-arrow">
                                <span>Latest news</span>
                            </h4>
                        </div>
                        <div class="big-post">
                            <article class="card card-full hover-a mb-4">
                                <!--thumbnail-->
                                <div class="ratio_360-202 image-wrapper">
                                    <a href="#">
                                        <img class="img-fluid lazy entered loaded"
                                             src="https://demo.bootstrap.news/bootnews/assets/img/360x202/img55.jpg"
                                             data-src="../../assets/img/360x202/img55.jpg" alt="Image description"
                                             data-ll-status="loaded">
                                    </a>
                                </div>
                                <div class="card-body">
                                    <!--title-->
                                    <h2 class="card-title h1-sm h3-md">
                                        <a href="#">MotoGP: Which team needs what in 2019?</a>
                                    </h2>
                                    <!-- author & date -->
                                    <div class="card-text mb-2 text-muted small">
											<span class="d-none d-sm-inline me-1">
												<a class="fw-bold" href="#">John Doe</a>
											</span>
                                        <time datetime="2019-10-22">Oct 22, 2019</time>
                                    </div>
                                    <!--description-->
                                    <p class="card-text">Trang trí nhà bếp như nào.</p>
                                </div>
                            </article>
                        </div>
                    </aside>

                    <aside class="widget">
                        <div class="block-title-4">
                            <h4 class="h5 title-arrow">
                                <span>Latest news</span>
                            </h4>
                        </div>
                        <div class="big-post">
                            <article class="card card-full hover-a mb-4">
                                <!--thumbnail-->
                                <div class="ratio_360-202 image-wrapper">
                                    <a href="#">
                                        <img class="img-fluid lazy entered loaded"
                                             src="https://demo.bootstrap.news/bootnews/assets/img/360x202/img55.jpg"
                                             data-src="../../assets/img/360x202/img55.jpg" alt="Image description"
                                             data-ll-status="loaded">
                                    </a>
                                </div>
                                <div class="card-body">
                                    <!--title-->
                                    <h2 class="card-title h1-sm h3-md">
                                        <a href="#">MotoGP: Which team needs what in 2019?</a>
                                    </h2>
                                    <!-- author & date -->
                                    <div class="card-text mb-2 text-muted small">
											<span class="d-none d-sm-inline me-1">
												<a class="fw-bold" href="#">John Doe</a>
											</span>
                                        <time datetime="2019-10-22">Oct 22, 2019</time>
                                    </div>
                                    <!--description-->
                                    <p class="card-text">This is a wider card with supporting text below as a
                                        natural lead-in to
                                        additional content. This content is a little bit longer.</p>
                                </div>
                            </article>
                        </div>
                    </aside>
                    <div class="small-post">
                        <!--post list-->
                        <article class="card card-full hover-a mb-4">
                            <div class="row">
                                <!--thumbnail-->
                                <div class="col-3 col-md-4 pe-2 pe-md-0">
                                    <div class="ratio_110-77 image-wrapper">
                                        <a href="#">
                                            <img class="img-fluid lazy entered loaded"
                                                 src="https://demo.bootstrap.news/bootnews/assets/img/110x77/img5.jpg"
                                                 data-src="../../assets/img/110x77/img5.jpg" alt="Image description"
                                                 data-ll-status="loaded">
                                        </a>
                                    </div>
                                </div>
                                <!-- title & date -->
                                <div class="col-9 col-md-8">
                                    <div class="card-body pt-0">
                                        <h3 class="card-title h6 h5-sm h6-md">
                                            <a href="#">Trang trí nhà bếp như nào ?</a>
                                        </h3>
                                        <div class="card-text small text-muted">
                                            <time datetime="2019-10-16">Oct 16, 2019</time>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="card card-full hover-a mb-4">
                            <div class="row">
                                <!--thumbnail-->
                                <div class="col-3 col-md-4 pe-2 pe-md-0">
                                    <div class="ratio_110-77 image-wrapper">
                                        <a href="#">
                                            <img class="img-fluid lazy entered loaded"
                                                 src="https://demo.bootstrap.news/bootnews/assets/img/110x77/img6.jpg"
                                                 data-src="../../assets/img/110x77/img5.jpg" alt="Image description"
                                                 data-ll-status="loaded">
                                        </a>
                                    </div>
                                </div>
                                <!-- title & date -->
                                <div class="col-9 col-md-8">
                                    <div class="card-body pt-0">
                                        <h3 class="card-title h6 h5-sm h6-md">
                                            <a href="#">Tiện ích trong căn bếp nên có</a>
                                        </h3>
                                        <div class="card-text small text-muted">
                                            <time datetime="2019-10-16">Oct 16, 2019</time>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>

                </div>
            </aside>
        </div>
    </div>
    
    <!-- Modal require login-->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Thông báo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Bạn cần đăng nhập để lưu bài viết.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <a href="/admin/login" target="_blank" class="btn btn-primary" data-dismiss="modal">Đăng nhập</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="confirmDeleteSavedBlog" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Xác nhận</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Bạn chắc chắn muốn xóa bài viết khỏi Danh sách đã lưu ?.</p>
                </div>
                <div class="modal-footer">
                    <button id="btn-confirm-save-blog" onclick="deleteSavedBlog()" class="btn btn-primary">Đồng ý</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
<th:block id="js">
    <script th:inline="javascript">
        const blog = [[${blog}]];
        const categories = [[${isExistInSavedList}]]
        console.log(1)
        console.log(categories)
        console.log(2)
        
        const commentContentEl = document.getElementById("comment-content");
        const btnPostComment = document.getElementById("btn-comment");
        let isValid = true;

        btnPostComment.addEventListener("click", async (e) => {
            try {
                e.preventDefault();
                const content = commentContentEl.value;
                console.log(content)
                if (content.length === 0) {
                    toastr.error("Bạn cần nhập nội dung bình luận!");
                    isValid = false;
                }
                const request = {
                    content
                }
                if (isValid) {
                    let res = await axios.post("/api/v1/comments/" + blog.id, request);
                    console.log(content)
                    if (res.status === 200) {
                        toastr.success("Đăng bình luận thành công");
                        commentContentEl.value = "";
                        setTimeout(() => {
                            location.reload()
                        })
                        // alert(`Đăng ký thành công bạn sẽ nhận được các bài báo mới vào 6 giờ sáng mỗi ngày tại địa chỉ email - ${emailVal}`)
                    } else {
                        toastr.error("Không thành công")
                    }
                }
            } catch (err) {
                toastr.warning(err.response.data.message);
                console.log(err);
            }
        })

        const requireLogin = () => {
            $('#loginModal').modal('show');
        }
        
        const openModalConfirmDeleteSaveBlog = () => {
            $('#confirmDeleteSavedBlog').modal('show');
        }
        const deleteSavedBlog = async (e) => {
            try {
                let res = await axios.delete("/api/v1/blogs/saved-list/" + blog.id +"?type=detail-page")

                if(res.status === 200) {
                    toastr.success("Xóa thành công!");
                    setTimeout(() => {
                        location.reload();
                    }, 1500)
                }
            } catch (err) {
                toastr.error(err.response.data.message);
                console.log(err)
            }
        }
        
        const saveBlog = async (e) => {
            try {
                let res = await axios.post("/api/v1/blogs/saved-list/" + blog.id)
                if(res.status === 200) {
                    toastr.success("Lưu bài viết thành công!");
                    setTimeout(() => {
                        location.reload();
                    }, 1500)
                }
            } catch (err) {
                toastr.error(err.response.data.message);
                console.log(err)
            }
        }
        
        
    </script>
</th:block>
</html>