

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,600;1,200;1,300;1,400;1,600&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

}

a {
    text-decoration: none;
    color: #000 ;
}

.container {
    max-width: 1200px;
    padding: 0 16px;
    margin: 0 auto;
}

ul li {
    list-style: none;
}

.huy {
    display: flex;
    gap: 30px;
    position: relative;
    margin: 1rem 0; /*reset thuộc tính của boostrap*/
}

.huy li {
    position: relative;
    display: inline-block;
}

.huy li::before {
    content: "";
    position: absolute;
    top: 60%;
    left: -17px; /* Điều chỉnh giá trị left để canh giữa theo gap */
    transform: translateY(-48%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #000;
}

.huy li:first-child::before {
    background-color: #ffffff;
}
/*figure.image.vnn-content-image picture{*/
/*    max-width: 100%;*/
/*    height: auto;*/
/*    display: block;*/
/*}*/

/*figure.image.vnn-content-image picture img{*/
/*    max-width: 100%;*/
/*    height: auto;*/
/*    display: block;*/
/*    !* margin: 0 auto; *!*/
/*}*/

figure {
    text-align: center;
}

/* --------------------------------------------------------------------- */

/* Todo: Start Main */
.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
    bottom: 0px;
    background: linear-gradient(
            to bottom,
            rgba(179, 171, 171, 0) 0%,
            rgba(48, 48, 48, 0.71) 49%,
            rgba(19, 19, 19, 0.8) 100%
    );
}

.igm-fluid {
    width: 100%;
}



button.btn.btn-primary.mt-2 {
    display: flex;
    align-items: center;
}

.my-3.text-light.small {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    gap: 20px;
}

.bxs-bookmark-alt-plus {
    font-size: 16px;
    margin-top: 2px;
    margin-right: 5px;
}

.entry-footer {
    margin-top: 20px;
}

.fw-bold {
    font-weight: 700 !important;
}

.me-2 {
    margin-right: 0.5rem !important;
}

.tags-links {
    display: flex;
    flex-wrap: wrap;
}

.tags-links a {
    padding: 0rem 0.5rem;
    display: inline-block;
    border: 1px solid #dee2e6;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
    margin-left: inherit;
    line-height: inherit;
    color: #0249ab;
    text-decoration: none;
}

.tagcloud a:before {
    content: "#";
}

span.fw-bold.me-2 {
    margin-right: 5px;
}

span.bg-primary.text-white {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 16px;
}

h4.h5.border-primary.border-2 {
    border-bottom: 2px solid #0249ab !important;;
    line-height: unset;
}

.block-title-6 {
    margin-bottom: 30px;
}

.image-slide-main {
    display: flex;
}

.image-slide img {
    width: 100%;
}

.tags-links a:hover {
    background-color: #0249ab;
    color: #fff;
}
/* ====================================================================== */
/*CSS bài viết liên quan carousel*/
.box-title {
    background-color: #0249ab !important;
}

.owl-carousel.owl-theme.owl-loaded.owl-drag .owl-nav
/*.owl-carousel.owl-theme.owl-loaded.owl-drag .owl-dots*/
{
    display: block;
}

.image-slide {
    position: relative;
}

.slide-img-detail {
    position: absolute;
    top: 73%;
    width: 100%;
    left: 34%;
    transform: translate(-30%,-50%);
}

.cart-slide-time {
    color: #fff;
    font-size: 13px;
}

.text-light {
    font-size: 14px;
}


.card-title a {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Số dòng tối đa muốn hiển thị */
    -webkit-box-orient: vertical;
    line-height: 1.25;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify-all;
}
/* ====================================================================== */

/*CSS comment*/
.user-comment footer {
    display: flex;
    justify-content: space-around;
    /* justify-content: space-between; */
}

.comment-list {
    list-style: none;
    max-height: 400px;
    overflow: scroll;
}

.comment-list {
    list-style: none;
}

.comment-list li .user-comment {
    border-bottom: #dee2e6 1px dashed;
    padding-bottom: 1rem;
}

img.avatar-md {
    margin-right: 1rem;
    object-fit: cover; width: 80px; height: 80px;
}

.title-comments {
    width: 100%;
}

.text-muted.dates small {
    font-size: 0.875em;
    color: #6c757d;
}

.authors {
    font-size: 15px;
    color: #0249ab;
    font-weight: 700;
}

span.text-muted.dates.small {
    float: right;
}

.comment-content {
    font-size: 14px;
}

#comment-content:focus {
    border-color:#0249ab!important; /* Màu tím */
    box-shadow: 0 0 0px rgba(128, 0, 128, 0.7); /* Hiệu ứng đổ bóng tím */
}

.comment-reply {
    font-size: 15px;
    /*color: #0249ab;*/
    text-decoration: none !important;
}

.comment-list li {
    margin-bottom: 20px;
}

.btn-reply,
.btn-delete {
    color: white;
    font-weight: 500;
    margin-left: 10px; /* Đẩy nút về góc phải */
    margin-right: 10px; /* Tạo khoảng cách giữa hai nút */
}

/*GG map*/
.col-sm-6.col-lg-4 iframe {
    height: 263px;
    width: 100%;
}

/*===================================*/
/* Start col-md-4 */

.card-full img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ratio_110-77.image-wrapper {
    width: unset;
    /*height: unset;*/
}

.image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.block-title-4 {
    position: relative;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid #dee2e6;
}

.title-arrow span {
    font-size: 16px;
}

.title-arrow:before {
    content: "";
    width: 2.5rem;
    height: 2px;
    position: absolute;
    top: 100%;
    background: #4f46e5;
}
.widget .card {
    border: none;
}

.widget .card-body {
    padding: 0;
}

h2.card-title.h1-sm.h3-md a {
    font-size: 20px;
    text-decoration: none;
    color: #000;
}

span.d-none.d-sm-inline.me-1 a {
    color: #4f46e5 !important;
    margin-right: 5px;
}

.widget .card-text {
    font-size: 15px;
}

.small-post .card {
    border: none;
}

article.card.card-full.hover-a.mb-4 .row {
    padding: 0;
    margin: 0;
}

.small-post .card-body {
    padding: 0;
}

h3.card-title.h6.h5-sm.h6-md a {
    font-size: 14px;
}

article.card.card-full.hover-a.mb-4 .col-9.col-md-8 {
    height: fit-content;
}

.p-4.border.bg-light-dark.text-center.mb-4 h4 {
    font-size: 18px;
    font-weight: 600;
}

.text-dark-light {
    font-size: 15px;
    color: #495057;
}

.input-group input,
.input-group button {
    border-radius: 0;
    padding: 12px 16px;
}

.input-group .form-control {
    height: auto;
}

.col-md-4.end-sidebar-lg .col-3.col-md-4.pe-2.pe-md-0 {
    padding: 0;
}

/* End col-md-4 */

/* Todo: Add */
.comment-form .btn-primary {
    margin-top: 20px;
    height: auto;
    width: auto;
    /*padding: 0.75rem 1rem;*/
    background-color: #0249ab
}

.comment-form .btn-primary:focus {
    border-color:#0249ab!important; /* Màu tím */
    box-shadow: 0 0 0px rgba(128, 0, 128, 0.7); /* Hiệu ứng đổ bóng tím */
}


@media (max-width: 576px) {
    h1.h1.display-md-4.display-3-lg.fw-bold.mt-2.text-white {
        font-size: 24px;
    }
}

@media (max-width: 445px) {
    h1.h1.display-md-4.display-3-lg.fw-bold.mt-2.text-white {
        font-size: 18px;
    }
}

@media (max-width: 400px) {
    h1.h1.display-md-4.display-3-lg.fw-bold.mt-2.text-white {
        font-size: 16px;
    }
}

@media (min-width: 576px) and (max-width: 660px) {
    h1.h1.display-md-4.display-3-lg.fw-bold.mt-2.text-white {
        font-size: 24px;
    }
}

/* Todo: End Main */

/* --------------------------------------------------------------------- */

/* Todo: Start Footer */

/* Todo: End Footer */

/* Todo: Rreponsive */

@media (min-width: 768px) {
    .title-name-br {
        font-size: 1.375rem;
    }
}

@media (min-width: 992px) {
    .title-name-br {
        font-size: 1.68rem;
    }

    /*article.card.card-full.hover-a.mb-4 .col-3.col-md-4.pe-2.pe-md-0 {*/
    /*    padding: 0;*/
    /*    height: 82px;*/
    /*    overflow: hidden;*/
    /*}*/
}

@media (min-width: 576px) {
    .title-name-br {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    .col-md-6.pt-05.ps-md-05 {
        margin-top: 25px;
    }
}

@media (max-width: 992px) {
    .main-detal-news {
        margin-top: 20px;
    }
}

@media (min-width: 768px) {
    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}
@media (min-width: 992px) {
    article.card.card-full.hover-a.mb-4 .col-3.col-md-4.pe-2.pe-md-0 {
        padding: 0;
        height: 82px;
        overflow: hidden;
    }
}


@media (max-width: 992px) {
    article.card.card-full.hover-a.mb-4 .col-3.col-md-4.pe-2.pe-md-0 {
        height: 82px;
        overflow: hidden;
    }
}

@media (min-width: 1200px) {
    .ratio_360-202.image-wrapper.ats {
        height: 205px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
    .ratio_360-202.image-wrapper.ats {
        height: 168px;
    }
}


@media screen and (max-width: 992px) and (min-width: 768px) {
    .ratio_360-202.image-wrapper.ats {
        height: 268px;
    }
}

/* @media screen and (max-width: 768px) and (min-width: 680px) {
  .ratio_360-202.image-wrapper.ats {
    height: 412px;
}
} */

@media screen and (max-width: 680px) and (min-width: 580px) {
    .ratio_360-202.image-wrapper.ats {
        height: 312px;
    }
}

@media screen and (max-width: 580px) and (min-width: 480px) {
    .ratio_360-202.image-wrapper.ats {
        height: 272px;
    }
}

@media screen and (max-width: 480px) and (min-width: 380px) {
    .ratio_360-202.image-wrapper.ats {
        height: 232px;
    }
}

@media screen and (max-width: 380px) and (min-width: 320px) {
    .ratio_360-202.image-wrapper.ats {
        height: 202px;
    }
}

@media screen and (max-width: 320px) and (min-width: 250px) {
    .ratio_360-202.image-wrapper.ats {
        height: 180px;
    }
}

@media screen and (max-width: 250px) and (min-width: 200px) {
    .ratio_360-202.image-wrapper.ats {
        height: 150px;
    }
}

.img-fluid {
    width: 100%;
}
