<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Import Icon -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>
    <!-- Bootstrap CSS -->
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="./main-public-web.js">
    <title>Document</title>
</head>
<body>
<header class="header">
    <div class="container">
        <img src="https://cdn.bongda24h.vn/images/logo-bongda24h.svg" alt="" />
    </div>
</header>
<nav class="navication">
    <div class="container">
        <a href="#"><i class="bx bx-home"></i></a>
        <ul>
            <li class="name-nav-header">
                <a href="#">Video</a>
            </li>
            <li class="name-nav-header">
                <a href="#">Tin nóng</a>
            </li>
            <li class="name-nav-header">
                <a href="#">Asiad 2023</a>
            </li>
            <li class="name-nav-header">
                <a href="#">Việt Nam</a>
            </li>
            <li class="name-nav-header">
                <a href="#">Anh</a>
            </li>
            <li class="name-nav-header">
                <a href="#">TBN</a>
            </li>
            <li class="name-nav-header">
                <a href="#">Châu Âu</a>
            </li>
            <li class="name-nav-header">
                <a href="#">Italy</a>
            </li>
            <li class="name-nav-header">
                <a href="#">Đức</a>
            </li>
            <li class="name-nav-header">
                <a href="#">Pháp</a>
            </li>
            <li class="name-nav-header">
                <a href="#">Livescore</a>
            </li>
            <li class="name-nav-header">
                <a href="#">Trực tiếp</a>
            </li>
            <li class="name-nav-header">
                <a href="#">Bình luận</a>
            </li>
            <li class="name-nav-header">
                <a href="#">Nhận định</a>
            </li>
            <li class="name-nav-header">
                <a href="#">Chuyển nhượng</a>
            </li>
        </ul>
        <a href="#" class="user-main">
            <i class="bx bxs-user-circle"></i>
            <div class="user-pp">
                <ul>
                    <li>Đăng ký/Đăng nhập</li>
                    <li>Đăng suất</li>
                    <li>Quản trị</li>
                </ul>
            </div>
        </a>
    </div>
</nav>

<main class="main">
    <div class="container">
        <div class="row">
            <div class="col-12 mt-05">
                <div class="row py-2 bre-main">
                    <div class="breaking-title">Breaking news</div>
                    <div class="content-breaking">
                        Google Employees Protest Secret Work on Censored Search Engine
                        for China
                    </div>
                </div>
                <div class="row featured-1 mb-5">
                    <div class="col-md-6 pb-05 pt-05 pe-md-05">
                        <div class="image-wrapper">
                            <img
                                    src="https://demo.bootstrap.news/bootnews/assets/img/568x484/img1.jpg"
                                    alt=""
                            />
                            <div class="main-text-title">
                                <a class="heading-letter-spacing" href="#"></a>
                                <h2 class="title-name-br">
                                    The world's first floating farm making waves in
                                    Rotterdam
                                </h2></a
                                    >
                                <div class="news-meta">
                            <span class="news-author">
                                by
                                <a href="#" class="text-white fw-bold">
                                    Duy Nghia
                                </a>
                                <time datetime="2019-10-22" class="news-date">Oct 22, 2019</time>
                            </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pt-05 ps-md-05">
                        <div class="row newsbox">
                            <div class="col-6">
                                <div class="image-wrapper">
                                    <div class="flickity-viewport">
                                        <img
                                                src="https://demo.bootstrap.news/bootnews/assets/img/282x240/img1.jpg"
                                                alt=""
                                        />
                                        <div class="main-text-title">
                                            <a href="#" class="bg-primary text-white buss">Business</a>
                                            <a href="#">
                                                <h2 class="h6 h4-sm h6-md h5-lg text-white my-1">Should you see the Fantastic Beasts sequel?</h2>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="image-wrapper">
                                    <div class="flickity-viewport">
                                        <img
                                                src="https://demo.bootstrap.news/bootnews/assets/img/282x240/img2.jpg"
                                                alt=""
                                        />
                                        <div class="main-text-title">
                                            <a href="#" class="bg-primary text-white buss">Science</a>
                                            <a href="#">
                                                <h2 class="h6 h4-sm h6-md h5-lg text-white my-1">Three myths about Florida elections recount</h2>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="image-wrapper">
                                    <div class="flickity-viewport">
                                        <img
                                                src="https://demo.bootstrap.news/bootnews/assets/img/282x240/img3.jpg"
                                                alt=""
                                        />
                                        <div class="main-text-title">
                                            <a href="#" class="bg-primary text-white buss">Travel</a>
                                            <a href="#">
                                                <h2 class="h6 h4-sm h6-md h5-lg text-white my-1">Finding Empowerment in Two Wheels and a Helmet</h2>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-6">
                                <div class="image-wrapper">
                                    <div class="flickity-viewport">
                                        <img
                                                src="https://demo.bootstrap.news/bootnews/assets/img/282x240/img4.jpg"
                                                alt=""
                                        />
                                        <div class="main-text-title">
                                            <a href="#" class="bg-primary text-white buss">Lifestyle</a>
                                            <a href="#">
                                                <h2 class="h6 h4-sm h6-md h5-lg text-white my-1">Ditch receipts and four other tips to be a green shopper</h2>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="block-area">
                    <div class="block-title-6">
                        <h4 class="h5 border-primary"></h4>
                        <span class="bg-primary text-white">Sports</span>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="cart-full">
                                <a href="#">
                                    <img src="https://demo.bootstrap.news/bootnews/assets/img/360x202/img1.jpg" class="img-fluid" alt="">
                                </a>
                                <div class="card-body">
                                    <h2 class="card-title">GB's Bankes wins snowboard cross silver at World Champs</h2>
                                    <div class="card-text mb-2 text-muted small">
                                        <span class="d-none d-sm-inline me-1">Duy Nghia</span>
                                        <time datetime="2019-10-22">Oct 22, 2019</time>
                                    </div>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 main-detal-news">
                            <article class="card card-full hover-a mb-4">
                                <div class="row">
                                    <div class="col-3 col-md-4 pe-2 pe-md-0">
                                        <img src="https://demo.bootstrap.news/bootnews/assets/img/115x80/img1.jpg" alt="">
                                    </div>
                                    <div class="col-9 col-md-8">
                                        <div class="card-body pt-0">
                                            <h3 class="card-title-child h6 h5-sm h6-lg">
                                                <a href="#">Yankees Party Like It’s 1998, at Least for a Day</a>
                                            </h3>
                                            <div class="card-text small text-muted">
                                                <time datetime="2019-10-22">Oct 22, 2019</time>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="card card-full hover-a mb-4">
                                <div class="row">
                                    <div class="col-3 col-md-4 pe-2 pe-md-0">
                                        <img src="https://demo.bootstrap.news/bootnews/assets/img/115x80/img2.jpg" alt="">
                                    </div>
                                    <div class="col-9 col-md-8">
                                        <div class="card-body pt-0">
                                            <h3 class="card-title-child h6 h5-sm h6-lg">
                                                <a href="#">Dale Earnhardt Jr. Returns to the Racetrack and an Old Hobby</a>
                                            </h3>
                                            <div class="card-text small text-muted">
                                                <time datetime="2019-10-22">Oct 22, 2019</time>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="card card-full hover-a mb-4">
                                <div class="row">
                                    <div class="col-3 col-md-4 pe-2 pe-md-0">
                                        <img src="https://demo.bootstrap.news/bootnews/assets/img/115x80/img3.jpg" alt="">
                                    </div>
                                    <div class="col-9 col-md-8">
                                        <div class="card-body pt-0">
                                            <h3 class="card-title-child h6 h5-sm h6-lg">
                                                <a href="#">Carmelo Anthony Officially Signs with the Houston Rockets</a>
                                            </h3>
                                            <div class="card-text small text-muted">
                                                <time datetime="2019-10-22">Oct 22, 2019</time>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="card card-full hover-a mb-4">
                                <div class="row">
                                    <div class="col-3 col-md-4 pe-2 pe-md-0">
                                        <img src="https://demo.bootstrap.news/bootnews/assets/img/115x80/img4.jpg" alt="">
                                    </div>
                                    <div class="col-9 col-md-8">
                                        <div class="card-body pt-0">
                                            <h3 class="card-title-child h6 h5-sm h6-lg">
                                                <a href="#">Jacob deGrom Goes the Distance as Mets Top the Phillies</a>
                                            </h3>
                                            <div class="card-text small text-muted">
                                                <time datetime="2019-10-22">Oct 22, 2019</time>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4 end-sidebar-lg"></div>
        </div>
    </div>
</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
></script>
<script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"
></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"
></script>
</body>
</html>
