<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{/layout/layout-admin :: main-fragment(~{:: title}, ~{}, ~{:: .content-wrapper}, ~{:: #javascript})}">

<head>
    <title>Chưa phản hồi</title>
</head>

<body>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="/dashboard/admin/feedback/not-reply"></a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row py-2">
                <div class="col-12">
<!--                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCreateCategory">-->
<!--                        <i class="fas fa-plus"></i> Tạo danh mục-->
<!--                    </button>-->
                    <a th:href="@{/dashboard/admin/feedback/not-reply}" class="btn btn-info">
                        <i class="fas fa-redo"></i> Refresh
                    </a>
                </div>
            </div>
            
            <!-- Modal trả lời phản hồi  -->
            <div class="modal fade" id="modalReplyFeedback">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Thông tin trả lời</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="text" class="form-control" id="input-reply" placeholder="Nhập trả lời">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            <button type="button" class="btn btn-primary" id="btn-reply-feedback">Xác nhận</button>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body table-responsive-sm">
                            <table class="table table-bordered table-hover center">
                                <thead>
                                <tr>
                                    <th class="text-center">STT</th>
                                    <th class="text-center">Phản hồi</th>
                                    <th class="text-center">Người bình luận</th>
                                    <th class="text-center">Chức năng</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:with="feedbackList = ${pageInfo.getContent()}">
                                    <tr th:each="feedback, iStart : ${feedbackList}">
                                        <td th:text="${(currentPage - 1) * pageInfo.getSize() + (iStart.index + 1)}" class="text-center" >1</td>
                                        <td th:text="${feedback.content}" class="text-center">Backend</td>
                                        <td th:text="${feedback.email}" class="text-center"></td>
                                        
                                        <td class="text-center">
                                            <button class="btn btn-success"
                                                    th:onclick="|openModalReply(${feedback.id})|">Trả lời
                                            </button>
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                            
                            <div class="d-flex justify-content-center mt-3" id="pagination">
                                <ul class="pagination mb-0">
                                    <li class="paginate_button page-item previous" th:classappend="${currentPage == 1 ? 'disabled' : ''}"
                                        id="example2_previous" th:data-page="${currentPage - 1}">
                                        <a class="page-link">Previous</a>
                                    </li>
                                    <th:block th:with="numbers = ${T(com.example.blog.utils.Utils).createList(pageInfo.getTotalPages())}">
                                        <li th:each="number : ${numbers}" class="paginate_button page-item" th:classappend="${number == currentPage ? 'active' : ''}" th:data-page="${number}">
                                            <a class="page-link" th:text="${number}"></a>
                                        </li>
                                    </th:block>
                                    <li class="paginate_button page-item next" th:classappend="${currentPage == pageInfo.getTotalPages() ? 'disabled' : ''}"
                                        id="example2_next" th:data-page="${currentPage + 1}">
                                        <a class="page-link">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<th:block id="javascript">
    <script th:inline="javascript">
        let feedbackList = [[${pageInfo.getContent()}]]
        console.log(feedbackList);
        const btnReplyFeedbackEl = document.getElementById("btn-reply-feedback")
        const inputReplyEl = document.getElementById("input-reply");
        let feedbackId = null;
        
        const openModalReply = (id) => {
            const feedback = feedbackList.find(fb => fb.id === id);
            inputReplyEl.value = "";
            feedbackId = feedback.id;
            console.log(`========= \n ${feedbackId}`)
            $("#modalReplyFeedback").modal("show")
        }
        
        btnReplyFeedbackEl.addEventListener("click", async () => {
            try {
                const contentReply = inputReplyEl.value;

                let res = await axios.put(`/api/v1/admin/feedback/${feedbackId}`, { contentReply })

                if(res.status === 200) {
                    toastr.success("Trả lơời phản hồi thành công.")
                    $("#modalReplyFeedback").modal("hide")
                    feedbackId = null;
                    setTimeout(() => {
                        location.reload();
                    }, 1000);
                }
            } catch (e) {
                toastr.error(e.response.data.message);
                console.log(e);
            }
        })

        const deleteComment = async (id) => {
            const isConfirm = window.confirm("Bạn có muốn xóa bình luận này")
            if (isConfirm) {
                try {
                    let res = await axios.delete(`/api/v1/admin/comments/${id}`)

                    if(res.status === 200 || res.status === 204) {
                        toastr.success("Xóa bình luận thành công!")
                        setTimeout(() => {
                            location.reload();
                        },1500);
                    }
                } catch (e) {
                    toastr.error(e.response.data.message);
                    console.log(e);
                }
            }
        }
    </script>
</th:block>
</body>

</html>